.fc .fc-daygrid-day.fc-day-today {
    background-color: #90EE90;
}
.fc-daygrid-day:not(.fc-day-other) {
    background-color: #90EE90;
}
.selected {
    background-color: #FF7F7F !important;
}
.selected a.fc-daygrid-day-number {
    color: #FFF !important;
}
.fc-conflictResetButton-button:hover {
    background-color: #CC0000 !important;
    border-color: #AA0000 !important;
}
.fc-conflictSubmitButton-button:hover {
    background-color: #00BB00 !important;
    border-color: #009900 !important;
}
