.fc-day-today:not(.fc-day-other) {
    background-color: #90EE90 !important;
}
.fc-day-today.fc-day-other {
    background-color: inherit !important;
}
.fc-daygrid-day:not(.fc-day-other) {
    background-color: #90EE90;
}
.selected {
    background-color: #FF7F7F !important;
}
.selected a.fc-daygrid-day-number {
    color: #FFF !important;
}
.fc-conflictResetButton-button:hover {
    background-color: #CC0000 !important;
    border-color: #AA0000 !important;
}
.fc-conflictSubmitButton-button:hover {
    background-color: #00BB00 !important;
    border-color: #009900 !important;
}
