.fa-pencil {
    color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-remove {
    color: red;
}

.fa-ok {
    color: green;
}

.fa:hover {
    cursor: pointer;
}

.row button {
    margin-bottom: 10px;
}

table {
    width: 100%;
    max-height: 700px;
    overflow: scroll;
}

#addRow > div {
    padding: 5px;
}

#addRow > div > input {
    width: 100%;
    max-width: none;
}

#buttonRow {
    margin-top: 3%;
    align-items: flex-end;
}

#buttonRow > button {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}


.modalError {
    display: none;
    color: rgb(255,0,0);
}
