@charset "UTF-8";

/*   General Tags   */
.row:nth-child(2) {
    margin-top: 30px;
}
.arcDates {
    text-decoration: underline;
    color: #0000EE;
}
/*   Navbar   */

.navbar-fixed-left {
  width: 150px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}
.navbar-inverse .navbar-brand {
    color: #FFF;
    font-size: 1.3em;
}
.navbar-inverse {
    background-color: #003f87;
    color: #FFF;
}
.navbar-inverse .navbar-nav > li > a {
    color: #D3D3D3;
}
.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}
/*.navbar-fixed-left + .container {
  padding-left: 160px;
}*/
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}

/*   Calendar   */

.calendar input[type=checkbox] {
    transform: scale(1.5);
}
.calendar > thead > tr > th {
    font-size: 3em;
}
.calendar > caption {
    margin-top: -50px;
}
.checkLabel {
    display: block;
    height: 65%;
    width: 100%;
    background-color:rgba(0,255,0,0.3);
    font-weight: normal;
}
.checkLabel > input[type=checkbox]:checked {
    background-color: red;
}
.calendar {
   border: 1px solid #999;
   border-collapse: collapse;
   font-family: Georgia, Times, serif;
   width: 90%;
}
.calendar > thead > tr > th {
   border: 1px solid #999;
   font-size: 70%;
   text-transform: uppercase;
}
.calendar > tbody > tr > td {
   border: 1px solid #999;
   height: 5em;
   width:5em;
   padding: 5px;
   vertical-align: top;
}
.month {
   text-align: center;
   font-size: 300%;
   font-style: italic;
}
.day {
   padding-right: 5px;
   font-size: 1.5em;
   text-align: right;
}
.notes {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 80%;
   text-align: right;
   padding-left: 20px;
}
.weekend {
   background-color: #F3F3F3;
}
.check {
    display: none;
    text-align: center;
}
