{% extends "bootstrap/base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('.static', filename='master.css')}}">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse navbar-fixed-left">
  <a class="navbar-brand" href="#">LC Res Life</a>
  <ul class="nav navbar-nav">
   <li><a href="/">Home</a></li>
   <li><a href="/conflicts">Enter Conflicts</a></li>
   <li><a href="/archive">View Archive</a></li>
  </ul>
</div>
{% endblock %}

{% block content %}
<div class="container">

 <div class="row">
   <h1>Luther College RA Schedules</h1>
 </div>

 <div class="row">
 <form id="conflictForm" class="entryForm" action="/conflicts/p" method="post">
     <label for="raList">Select an RA</label>
     <select id="raList" class="ra_list" name="selectRA" form="conflictForm">
        {% for n in ras %}
        <option value="{{ n[0] }}">{{ n[1] + " " + n[2] }}</option>
        {% endfor %}
     </select>
     <table class="calendar">
         <caption class="month">{{ calDict["text_month"] }}</caption>
         <col class="weekend">
         <col class="weekday" span="5">
         <col class="weekend">

         <thead>
             <tr>
             {% for day in ["Sun","Mon","Tue","Wed","Thu","Fri","Sat"]: %}
                 <th>{{ day }}</th>
             {% endfor %}
             </tr>
         </thead>
         <tbody>
             {% for week in cal: %}
             <tr>
                 {% for day in week: %}

                     {% if day[0] != 0: %}
                         <td id="{{ day[0] }}">
                             <label class="checkLabel" for="day{{ day[0] }}">
                                 <div class="day">{{ day[0] }}</div>
                                 <div class="check"><input type="checkbox" name="day{{ day[0] }}" onchange="changeCheck(this)" id="day{{ day[0] }}"></div>
                             </label>
                         </td>
                     {% else %}
                         <td></td>
                     {% endif %}

                 {% endfor %}
             </tr>
             {% endfor %}
         </tbody>
     </table>
     <input type="radio" name="runScheduler" value="run">Run upon submission<br />
     <input type="radio" name="runScheduler" value="noRun" checked>Do not run and submit another conflict<br />
    <input type="submit" value="Submit!">
 </form>
 </div>

</div>
{% endblock %}
{% block scripts %}
<script src="./static/master.js"></script>
{% endblock %}
