{% extends "base.html" %}
{% block styles %}
{{ super() }}
<!--<link rel="stylesheet" href="{{url_for('.static', filename='calendar.css')}}">-->
<link rel="stylesheet" href="{{url_for('.static', filename='conflicts.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='main.css')}}">
<link href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css' rel='stylesheet'>

<style>
    .fc-daygrid-day:not(.fc-day-other) {
        background-color: #90EE90;
    }
</style>

{% endblock %}

{% block headerRow %}
<h1>Duty Conflicts</h1>
<p>Select the dates that you have a duty conflict with
    for the month of {{ calDict["text_month"] }}.
    <span style="color:green;font-weight:bold;">GREEN:</span> AVAILABLE for duty.
    <span style="color:red;font-weight:bold;">RED:</span> UNAVAILABLE for duty.</p>
{% endblock headerRow %}

{% block contentRows %}
<div class="row">
    <div class="wrapper">
        <main>
            <div id="calendar">

            </div>
            <!--<form id="conflictForm" class="entryForm" action="/enterConflicts/" method="post">
                <div class="toolbar">
                    <div class="toggle">
                        <div class="toggle__option" onclick="changeMonth(-1,true)">&#60;</div>
                        <div class="toggle__option" onclick="changeMonth(1,true)">&#62;</div>
                        <div class="toggle__option" onclick="getCurMonth()">Today</div>
                    </div>

                    <div id="current-month" class="current-month">{{ calDict["text_month"] }}</div>

                    <input id="monthInfo" type="text" name="monthInfo" style="display:none">
                    <div style="text-align:right">
                        <button type="button" onclick="resetForm()">Reset Calendar</button>
                        <button type="button" onclick="submitForm()">Submit Conflicts</button>
                    </div>
                </div>
                <div id="calendar" class="calendar">
                    <div class="calendar__header">
                        {% for d in ["sun","mon","tue","wed","thu","fri","sat"]: %}
                        <div>{{ d }}</div>
                        {% endfor %}
                    </div>
                    {% for week in cal: %}
                    <div class="calendar__week">
                        {% for day in week: %}

                        {% if day[0] != 0: %}
                        <div class="calendar__day day">
                            <label class="checkLabel" for="d{{ day[0] }}">
                                <div class="date">{{ day[0] }}</div>
                                <div class="check">
                                    <input id="d{{ day[0] }}" type="checkbox" name="d{{ day[0] }}" onchange="changeCheck(this)">
                                </div>
                            </label>
                        </div>
                        {% else %}
                        <div class="calendar__day day oth">
                            <div class="date"></div>
                        </div>
                        {% endif %}

                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </form>-->
        </main>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('.static', filename='calendar.js')}}"></script>
<script src="{{url_for('.static', filename='main.js')}}"></script>
<script src="{{url_for('.static', filename='locales-all.js')}}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            dayMaxEventRows: true,
            moreLinkClick: "popover",
            dateClick: function(info) {
                //alert('Clicked on: ' + info.dateStr);
                //alert('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
                //alert('Current view: ' + info.view.type);
                // change the day's background color just for fun
                if (info.dayEl.style.backgroundColor == 'red') {
                    info.dayEl.style.backgroundColor = '#90EE90'
                } else {
                    info.dayEl.style.backgroundColor = 'red';
                };

            },
            //showNonCurrentDates: false,

            events: [
                { // This object will be "parsed" into an Event Object
                    title: 'Tyler Conzett',
                    start: '2020-08-01',
                    end: '2020-08-02',
                    color: '#000',
                    textColor: '#FFF',
                    id: 'RAID'
                },
                { // This object will be "parsed" into an Event Object
                    title: 'Abigail Korenchan',
                    start: '2020-08-01',
                    end: '2020-08-02',
                    color: '#FF1',
                    textColor: '#000',
                    id: 'RAID2'
                },
                { // This object will be "parsed" into an Event Object
                    title: 'Teage Luther',
                    start: '2020-08-01',
                    end: '2020-08-02',
                    color: '#ABABAB',
                    textColor: '#FFF',
                    id: 'RAID3'
                },
                { // This object will be "parsed" into an Event Object
                    title: 'Austin Luther',
                    start: '2020-08-01',
                    end: '2020-08-02',
                    color: '#0d1e76',
                    textColor: '#FFF',
                    id: 'RAID4'
                }
            ]

        });
        calendar.render();
    });
</script>
{% endblock %}
