{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('.static', filename='calendar.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='conflicts.css')}}">
{% endblock %}

{% block headerRow %}
<h1>Duty Conflicts</h1>
<p>Select the dates that you have a duty conflict with
    for the month of {{ calDict["text_month"] }}.</p>
{% endblock headerRow %}

{% block contentRows %}
<div class="row">
    <div class="wrapper">
        <main>
            <form id="conflictForm" class="entryForm" action="/enterConflicts/" method="post">
                <div class="toolbar">
                    <div>
                        <p><span style="color:green;font-weight:bold;">GREEN:</span> AVAILABLE for duty.</p>
                        <p><span style="color:red;font-weight:bold;">RED:</span> UNAVAILABLE for duty.</p>
                    </div>
                    <div id="current-month" class="current-month">{{ calDict["text_month"] }}</div>
                    <input id="monthInfo" type="text" name="monthInfo" style="display:none">
                    <div style="text-align:right">
                        <button type="button" onclick="resetForm()">Reset Calendar</button>
                        <button type="button" onclick="submitForm()">Submit Conflicts</button>
                    </div>
                </div>
                <div id="calendar" class="calendar">
                    <div class="calendar__header">
                        {% for d in ["sun","mon","tue","wed","thu","fri","sat"]: %}
                        <div>{{ d }}</div>
                        {% endfor %}
                    </div>
                    {% for week in cal: %}
                    <div class="calendar__week">
                        {% for day in week: %}

                        {% if day[0] != 0: %}
                        <div class="calendar__day day">
                            <label class="checkLabel" for="d{{ day[0] }}">
                                <div class="date">{{ day[0] }}</div>
                                <div class="check">
                                    <input id="d{{ day[0] }}" type="checkbox" name="d{{ day[0] }}" onchange="changeCheck(this)">
                                </div>
                            </label>
                        </div>
                        {% else %}
                        <div class="calendar__day day oth">
                            <div class="date"></div>
                        </div>
                        {% endif %}

                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </form>
        </main>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('.static', filename='calendar.js')}}"></script>
{% endblock %}
