{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('.static', filename='main.css')}}">
<link href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css' rel='stylesheet'>
<link rel="stylesheet" href="{{url_for('.static', filename='calendar.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='editSched.css')}}">

{% endblock %}

{% block contentRows %}

<!-- Edit Duty Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Change Duty: <span id="editModalLongTitle" style="font-weight:bold;"></span></h3>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-sm-5">
                  <div class="form-group">
                      <label for"editModalPrevRA">Current Assigned RA</label>
                      <select id="editModalPrevRA" class="form-control" disabled>
                          {% for ra in raList: %}
                          <option value="{{ ra[1] }} {{ ra[2] }}">{{ ra[1] }} {{ ra[2] }}</option>
                          {% endfor %}
                      </select>
                  </div>
              </div>

              <div class="col-sm-1 align-middle">
                  <span class="fa fa-arrow-right"></span>
              </div>

              <div class="col-sm-5 modalRight">
                  <div class="form-group">
                      <label for="editModalNextRA">New Assigned RA</label>
                      <select id="editModalNextRA" class="form-control">
                          {% for ra in raList: %}
                          <option id="selector_{{ ra[0] }}" value="{{ ra[4] }}">{{ ra[1] }} {{ ra[2] }}</option>
                          {% endfor %}
                      </select>
                  </div>
              </div>

          </div>
          <div id="breakDutyWarning" class="row">
              <div class="col">&#42; Break duties <em>MUST</em> be edited in the <a href="/editBreaks">Break Duty Portal</a>.</div>
          </div>
      </div>
      <div class="modalError">Update Assignment Failed: <span class="msg"></span></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="editDelButt" type="button" class="btn btn-danger" onclick="deleteDuty()">Delete Duty</button>
        <button id="editSavButt" type="button" class="btn btn-primary" onclick="saveModal()">Save Changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Add Duty Modal -->
<div class="modal fade" id="addDutyModal" tabindex="-1" role="dialog" aria-labelledby="addDutyModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Add a New Duty</h3>
      </div>
      <div class="modal-body">
          <div class="form-group">
              <label for="addDateDate">Duty Date:</label>
              <input class="form-control" type="date" id="addDateDate">
          </div>
          <div class="form-group">
              <label for="addDateRASelect">Assigned RA:</label>
              <select class="form-control" id="addDateRASelect">
                  {% for ra in raList: %}
                  <option id="selector_{{ ra[0] }}" value="{{ ra[4] }}">{{ ra[1] }} {{ ra[2] }}</option>
                  {% endfor %}
              </select>
          </div>
          <div class="form-group">
              <label for="addDatePts">Point Value:</label>
              <input class="form-control" type="number" id="addDatePts" name="addDatePts" value="1">
         </div>
      </div>
      <div class="modalError">Update Assignment Failed: <span class="msg"></span></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="addDuty()">Save Changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Run Scheduler Modal -->
<div class="modal fade" id="runModal" tabindex="-1" role="dialog" aria-labelledby="runModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Run Scheduler: <span id="runModalLongTitle" style="font-weight:bold;"></span></h3>
      </div>
      <div class="modal-body">
          <div class="form-group">
              <label for="runNoDutyDates">
                  Enter the days where no duties should be assigned separated by commas.
              </label>
              <input class="form-control" id="runNoDutyDates" type="text" placeholder="Example: 14,15,30" />
          </div>
          <div class="form-group">
              <label for="runRAList">
                  Select the RAs that SHOULD be scheduled for duty for this month.
              </label>
              <div>
                  <ul id="runRAList">
                      {% for ra in raList: %}
                      <li>
                          <input id="{{ ra[0] }}" type="checkbox" checked >
                          <label for="{{ ra[0] }}">{{ ra[1] }} {{ra[2] }}</label>
                      </li>
                      {% endfor %}
                  </ul>
              </div>
          </div>
          <!--<div class="row">
              <label for="runLDA">
                  Number of days between duties.
              </label>
              <input id="runNoDutyDates" type="text" placeholder="Example: 14,15,30" />
          </div>-->
      </div>
      <div class="modalError">Update Assignment Failed: <span class="msg"></span></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="runButton" type="button" class="btn btn-primary" onclick="runScheduler()">Run Scheduler</button>
      </div>
    </div>
  </div>
</div>

<!-- Export Schedule Modal -->
<div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="importStaffModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Export Schedule: <span id="exportModalLongTitle" style="font-weight:bold;"></span></h3>
      </div>
      <form id="importStaffForm" class="modal-body" action="/api/exportToGCal" method="GET" enctype="multipart/form-data">
          <div class="form-group form-row">
              <div class="col">
                  Export the schedule for <span id="exportModalMonth" style="font-weight:bold;"></span>
                  to Google Calendar. This process can take a couple of minutes.

                  <br /><br />

                  <em>Note:</em> Clicking the 'Export' button will export the schedule in its current state. Once
                  exported, this application is unable to update or delete the calendar events that were created
                  in Google Calendar.

                  <br /><br />

                  As a result, any changes that need to be made to the calendar event, such as a duty change,
                  must be made through <a target="_blank" href="https://calendar.google.com/">Google Calendar</a>.
              </div>
          </div>
     </form>
      <div class="modalError">Export Schedule Failed: <span class="msg"></span></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="exportBut" type="button" class="btn btn-primary" onclick="exportSchedule()">Export</button>
      </div>
    </div>
  </div>
</div>

<div id="calContainer" class="col-lg-9">
    <div id="calendar">

    </div>
</div>
<div id="raListContainer" class="col-lg-3">
    <div id="raList" class="raList">
        <ul>
            <li id="list_header">
                <div id="list_name_header" class="tName">Name</div>
                <div id="list_points_header" class="tPoints"># Points</div>
            </li>
            {% for idKey, idVal in ptDict: %}
            <li id="list_{{ idKey }}">
                <div id="list_name_{{ idKey }}" class="tName">{{ idVal["name"] }}</div>
                <div id="list_points_{{ idKey }}" class="tPoints">{{ idVal["pts"] }}</div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('.static', filename='main.js')}}"></script>
<script src="{{url_for('.static', filename='locales-all.js')}}"></script>
<script src="{{url_for('.static', filename='fullCal.js')}}"></script>
<script src="{{url_for('.static', filename='editSched.js')}}"></script>
<script>
    initEditSchedCal();
</script>
{% endblock %}
