{% extends "base.html" %}
{% block styles %}
{{ super() }}
<!-- <link rel="stylesheet" href="{{url_for('.static', filename='calendar.css')}}"> -->
<link rel="stylesheet" href="{{url_for('.static', filename='editSched.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='main.css')}}">
<link href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css' rel='stylesheet'>

<style>
    .fc-day-other a.fc-event {
        background-color: #D0D0D0 !important;
        border-color: #C1C1C1 !important;
    }
</style>
{% endblock %}

{% block headerRow %}
<h1>Brandt Hall RA Duty Calendar</h1>
<p>Below is the duty calendar for the month of {{ calDict["text_month"] }}</p>
{% endblock headerRow %}

{% block contentRows %}
<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button>-->

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Changing duty assignment for <span id="editModalLongTitle" style="font-weight:bold;"></span></h3>
      </div>
      <div class="modal-body">
          <div class="row">

              <div class="col-sm-5 modalLeft">
                  <div class="row">
                      <h4>Current Assigned RA</h4>
                  </div>
                  <div class="row">
                      <span id="editModalPrevRA"></span>
                  </div>
              </div>

              <div class="col-sm-1">
                  <span style="font-weight: bold">&gt;</span>
              </div>

              <div class="col-sm-5 modalRight">
                  <div class="row">
                      <h4>New Assigned RA</h4>
                  </div>
                  <div class="row">
                      <select id="editModalNextRA">
                          {% for ra in raList: %}
                          <option id="selector_{{ ra[0] }}" value="{{ ra[4] }}">{{ ra[1] }} {{ ra[2] }}</option>
                          {% endfor %}
                      </select>
                  </div>
              </div>

          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="saveModal()">Save Changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addDutyModal" tabindex="-1" role="dialog" aria-labelledby="addDutyModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Add a New Duty</h3>
      </div>
      <div class="modal-body">
          <div class="row">
              <label for="addDateDate">Duty Date:</label>
              <input type="date" id="addDateDate" name="trip-start">

              <label for="addDateRASelect">Assigned RA:</label>
              <select id="addDateRASelect">
                  {% for ra in raList: %}
                  <option id="selector_{{ ra[0] }}" value="{{ ra[4] }}">{{ ra[1] }} {{ ra[2] }}</option>
                  {% endfor %}
              </select>
         </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="addDuty()">Save Changes</button>
      </div>
    </div>
  </div>
</div>


<div class="row">
    <main>
        <div class="col-lg-9">
            <div id="calendar">

            </div>
        </div>
        <div class="col-lg-3">
            <div id="raList" class="raList">
                <ul>
                    {% for ra in raList: %}
                    <li id="list_{{ ra[0] }}" onclick="highlightRA({{ ra[0] }})">
                        <div id="list_name_{{ ra[0] }}" class="tName">{{ ra[1] }} {{ ra[2] }}</div>
                        <div id="list_points_{{ ra[0] }}" class="tPoints">{{ ra[3] }}</div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </main>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('.static', filename='main.js')}}"></script>
<script src="{{url_for('.static', filename='locales-all.js')}}"></script>
<script src="{{url_for('.static', filename='fullCal.js')}}"></script>
<script>
    initEditSchedCal();
</script>
{% endblock %}
