{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('.static', filename='main.css')}}">
<link href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css' rel='stylesheet'>
<link rel="stylesheet" href="{{url_for('.static', filename='calendar.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='index.css')}}">

{% endblock %}

{% block rows %}
<div id="calendar">

</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('.static', filename='main.js')}}"></script>
<script src="{{url_for('.static', filename='locales-all.js')}}"></script>
<script src="{{url_for('.static', filename='fullCal.js')}}"></script>
<script src="{{url_for('.static', filename='index.js')}}"></script>
<script>
    {# Convert Python's date objects to Javascript's date objects #}
    const schoolYearStart = new Date(
        {{ opts["yearStart"].year }},
        {{ opts["yearStart"].month - 1 }}, {# JS uses 0 based month numbers #}
        {{ opts["yearStart"].day }}
    );
    const schoolYearEnd = new Date(
        {{ opts["yearEnd"].year }},
        {{ opts["yearEnd"].month - 1 }}, {# JS uses 0 based month numbers #}
        {{ opts["yearEnd"].day }}
    );

    initIndexCal();
</script>
{% endblock %}
