{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('.static', filename='main.css')}}">
<link href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css' rel='stylesheet'>
<link rel="stylesheet" href="{{url_for('.static', filename='calendar.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='index.css')}}">

{% endblock %}

{% block rows %}
<!-- Exchange Duty Modal -->
<div class="modal fade" id="exchangeDutyModal" tabindex="-1" role="dialog" aria-labelledby="exchangeDutyModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Trade Duty Request</h3>
      </div>
      <div class="modal-body">
          <div class="form-group form-row">
              <div class="col-sm-5">
                  <label for="tradeDutyDate"><span id="tradeDutyTraderName">None</span>'s Duty:</label>
                  <input class="form-control" type="datetime-local" id="tradeDutyDate" readonly>
                  <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="tradeDutyDateFlag" disabled>
                      <label class="custom-control-label overrideDisableColor" for="tradeDutyDateFlag">
                          <span id="trFlaggedDutyLabel">None</span>
                      </label>
                  </div>
              </div>

              <div class="col-sm-2 fa-container">
                  <span class="fa fa-exchange-alt"></span>
              </div>

              <div class="col-sm-5">
                  <label for="exchangeDutyDate">Your Duty:</label>
                  <input class="form-control" type="datetime-local" id="exchangeDutyDate" readonly disabled>
                  <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="exchangeDutyDateFlag" disabled>
                      <label class="custom-control-label" for="exchangeDutyDateFlag">
                          <span id="exFlaggedDutyLabel">None</span>
                      </label>
                  </div>
              </div>
          </div>

          <div class="form-group form-row">
              <div class="col">
                  <label for="tradeDutyReason">Reason for Trade</label>
                  <textarea class="form-control" id="tradeDutyReason" rows="3" readonly style="max-height:100px"></textarea>
              </div>
          </div>

          <div class="form-group form-row">
              <div class="col">
                  <p id="textForTrade"></p>
              </div>
          </div>

          <div class="modalError">Failed to Accept Trade: <span class="msg"></span></div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button id="rejectDutyButt" type="button" class="btn btn-danger" onclick="rejectTrade()">Reject<span class="d-none d-sm-inline"> Trade</span></button>
          <button id="tradeDutyButt" type="button" class="btn btn-primary" onclick="acceptTrade()">Accept<span class="d-none d-sm-inline"> Trade</span></button>
      </div>
    </div>
  </div>
</div>

<div id="calContainer" class="col-lg-9">
    <div id="calendar">

    </div>
</div>
<div id="dutySwitchContainer" class="col-lg-3">
    <div id="pendingDutyTrades" class="tradeList">
        {% for req in opts["tradeRequests"] %}
        <div class="card" onclick="getDutyTradeInfo({{ req['id'] }}, '{{ req['traderName'] }}', new Date('{{ req['date'].strftime('%Y/%m/%d') }}'), {{ req['tradeWithSpecificUser'].__str__().lower() }})">
            <p class="card-header">{{ req["date"].strftime("%m/%d/%Y") }}</p>
            <div class="card-body">
                <p class="card-text"><b>{{ req["traderName"] }}</b> is seeking to trade duties with
                    <b>{{ "you" if req["tradeWithSpecificUser"] else "anyone" }}</b>.</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('.static', filename='main.js')}}"></script>
<script src="{{url_for('.static', filename='locales-all.js')}}"></script>
<script src="{{url_for('.static', filename='fullCal.js')}}"></script>
<script src="{{url_for('.static', filename='index.js')}}"></script>
<script>
    initIndexCal();
    $('#tradeDutyModal').modal('show');
</script>
{% endblock %}
