.raList {
    width: 100%;
    max-height: 75%;
    margin: 5%;
    margin-left: 0;
    margin-top: 30%;
    overflow-y: scroll;
    font-size: 1.2em;
    border: 1px solid #e1e1e1;
    padding: 5px;
    display: block;
    float: right;
}
.raList ul {
    list-style: none;
    margin-left: 0;
    padding: 0;
}
.raList ul li {
    display: block;
    clear: left;
    overflow: auto;
}
.raList li:hover {
    background-color: #e1e1e1;
}
.tName {
    float: left;
    margin-left: 10px;
    background-color: none;
}
.tPoints {
    float: right;
    margin-right: 20px;
    margin-left: 20%;
    background-color: none;
}

.fc-day-other a.fc-event {
    background-color: #D0D0D0 !important;
    border-color: #C1C1C1 !important;
}
.fc-event-main {
    cursor: pointer;
}
.bkg-breakDuty {
    color: #000;
    background-color: gainsboro !important;
}
#runRAList {
    height: 200px;
    overflow-y: scroll;
    list-style: none;
}
#runRAList li {
    display: block;
    clear: left;
    overflow: auto;
}
#runRAList li:hover {
    background-color: #E1E1E1;
}
#runRAList li label {
    cursor: pointer;
}
.modalError {
    display: none;
    color: rgb(255,0,0);
}
.modal-body > .row {
    margin-left: auto;
}

#calContainer {
    float: left;
}
#raListContainer {
    float: right;
}
#breakDutyWarning {
    color: red;
}
