{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
<link href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css' rel='stylesheet'>
<link rel="stylesheet" href="{{url_for('static', filename='calendar.css')}}">
<link rel="stylesheet" href="{{url_for('conflicts_bp.static', filename='conflicts.css')}}">
<style>

</style>
{% endblock %}

{% block headerRow %}
<h1>Enter Duty Conflicts</h1>
<p>
    <label class="switch" onclick="toggleColorBlind()" title="Color Blind Friendly View">
        <input id="cbToggle" type="checkbox">
        <span class="slider round"></span>
    </label>
    <span id="infoGreen" class="cbGreen">GREEN:</span> AVAILABLE for duty.
    <span id="infoRed" class="cbRed">RED:</span> UNAVAILABLE for duty.
</p>
{% endblock headerRow %}

{% block contentRows %}
<div id="calendar">

</div>
<form id="conflictForm" class="entryForm" action="{{url_for('conflicts_bp.enterConflicts')}}" method="post"></form>

{% endblock %}

{%- block setBlueprintAPIPrefix %}
var bpAPIPrefix = '/conflicts';
{%- endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('static', filename='main.js')}}"></script>
<script src="{{url_for('static', filename='locales-all.js')}}"></script>
<script src="{{url_for('static', filename='fullCal.js')}}"></script>
<script src="{{url_for('conflicts_bp.static', filename='conflicts.js')}}"></script>
<script>
    initConflictCal();
    getPrevConflicts();
</script>
{% endblock %}
