{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
<link href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css' rel='stylesheet'>
<link rel="stylesheet" href="{{url_for('static', filename='calendar.css')}}">
<link rel="stylesheet" href="{{url_for('schedule_bp.static', filename='editSched.css')}}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" />

{% endblock %}

{% block contentRows %}

<!-- Edit Duty Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Alter Duty: <span id="editModalLongTitle" style="font-weight:bold;"></span></h3>
      </div>
      <div class="modal-body">
          <div class="form-group form-row">
              <div class="col-md-5">
                  <label for="editModalPrevRA">Current Assigned RA</label>
                  <select id="editModalPrevRA" class="form-control" disabled>
                      {% for ra in raList: %}
                      <option value="{{ ra[1] }} {{ ra[2] }}">{{ ra[1] }} {{ ra[2] }}</option>
                      {% endfor %}
                  </select>
              </div>
              <div class="col-md-2 fa-container">
                  <span class="fa fa-arrow-right"></span>
              </div>
              <div class="col-md-5">
                  <label for="editModalNextRA">New Assigned RA</label>
                  <select id="editModalNextRA" class="form-control">
                      {% for ra in raList: %}
                      <option id="selector_{{ ra[0] }}" value="{{ ra[1] }} {{ ra[2] }}">{{ ra[1] }} {{ ra[2] }}</option>
                      {% endfor %}
                  </select>
              </div>
          </div>
          <div class="form-group form-row">
              <div class="col">
                  <label for="editDatePts">Point Value:</label>
                  <input class="form-control" type="number" id="editDatePts" name="editDatePts" value="1">
              </div>
          </div>
          <div class="form-group form-row">
              <div class="col-md-1">
                  <label class="switch" for="editFlag" style="margin-top:3px;">
                      <input class="form-control" type="checkbox" id="editFlag" name="editFlag">
                      <span class="slider round"></span>
                  </label>
              </div>
              <div class="col-md-10">Mark duty as '{{ opts["dutyFlagLabel"] }}'</div>
          </div>
          <div id="breakDutyWarning" class="row">
              <div class="col">&#42; Break duties <em>MUST</em> be edited in the <a href="{{url_for('breaks_bp.editBreaks')}}">Break Duty Portal</a>.</div>
          </div>
          <div class="modalError">Failed to Update Duty: <span class="msg"></span></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button id="editDelButt" type="button" class="btn btn-danger" onclick="deleteDuty()">Delete<span class="d-none d-sm-inline"> Duty</span></button>
          <button id="editSavButt" type="button" class="btn btn-primary" onclick="saveModal()">Save<span class="d-none d-sm-inline"> Changes</span></button>
      </div>
    </div>
  </div>
</div>

<!-- Add Duty Modal -->
<div class="modal fade" id="addDutyModal" tabindex="-1" role="dialog" aria-labelledby="addDutyModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Add a New Duty</h3>
      </div>
      <div class="modal-body">
          <div class="form-group form-row">
              <div class="col-md-6">
                  <label for="addDateDate">Duty Date:</label>
                  <input class="form-control" type="date" id="addDateDate">
              </div>
              <div class="col-md-6">
                  <label for="addDatePts">Point Value:</label>
                  <input class="form-control" type="number" id="addDatePts" name="addDatePts" value="1">
              </div>
          </div>
          <div class="form-group form-row">
              <label for="addDateRASelect">Assigned RA:</label>
              <select class="form-control" id="addDateRASelect">
                  {% for ra in raList: %}
                  <option id="selector_{{ ra[0] }}" value="{{ ra[4] }}">{{ ra[1] }} {{ ra[2] }}</option>
                  {% endfor %}
              </select>
          </div>
          <div class="form-group form-row">
              <div class="col-md-1">
                  <label class="switch" for="addFlag" style="margin-top:3px;">
                      <input class="form-control" type="checkbox" id="addFlag" name="addFlag">
                      <span class="slider round"></span>
                  </label>
              </div>
              <div class="col-md-10">Mark duty as '{{ opts["dutyFlagLabel"] }}'</div>
          </div>
          <div class="modalError">Failed To Add New Duty: <span class="msg"></span></div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="addDuty()">Save<span class="d-none d-sm-inline"> Changes</span></button>
      </div>
    </div>
  </div>
</div>

<!-- Run Scheduler Modal -->
<div class="modal fade" id="runModal" tabindex="-1" role="dialog" aria-labelledby="runModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Run Scheduler: <span id="runModalLongTitle" style="font-weight:bold;"></span></h3>
      </div>
      <div class="modal-body">
          <label for="runNoDutyDates">
              Select the days that where no duties should be assigned.
          </label>
          <div class="input-group date form-group" id="datepicker" data-provider="datepicker">
              <input type="text" class="form-control datepicker" id="runNoDutyDates" name="runNoDutyDates"
                     placeholder="Select no duty days..." required />
              <span class="input-group-addon">
                  <i class="fa fa-lg fa-calendar"></i>
                  <span class="count"></span>
              </span>
          </div>
          <div class="form-group">
              <label for="runRAList">
                  Select staff members to schedule.
              </label>
              <select id="runRAList" class="form-control selectpicker" multiple data-live-search="true"
                      data-selected-text-format="count > 4" data-size="10" data-actions-box="true">
                  {% for ra in raList: %}
                  <option id="{{ ra[0] }}" value="{{ ra[0] }}">{{ ra[1] }} {{ra[2] }}</option>
                  {% endfor %}
              </select>
          </div>
          <div class="modalError">Unable to Schedule Duties: <span class="msg"></span></div>
          <div class="modalUserInfo"></div>
      </div>
      <div class="modal-footer">
        <div id="runModalProgressBar" class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"></div>
        </div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button id="runButton" type="button" class="btn btn-primary" onclick="runScheduler()">Run<span class="d-none d-sm-inline"> Scheduler</span></button>
      </div>
    </div>
  </div>
</div>

<!-- Export Schedule Modal -->
<div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="importStaffModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Export Schedule: <span id="exportModalLongTitle" style="font-weight:bold;"></span></h3>
      </div>
      <form id="importStaffForm" class="modal-body" action="/api/exportToGCal" method="GET" enctype="multipart/form-data">
          <div class="form-group form-row">
              <div class="col">
                  Export the schedule for <span id="exportModalMonth" style="font-weight:bold;"></span>
                  to Google Calendar. This process can take a couple of minutes.

                  <br /><br />

                  <em>Note:</em> Clicking the 'Export' button will export the schedule in its current state. Once
                  exported, this application is unable to update or delete the calendar events that were created
                  in Google Calendar.

                  <br /><br />

                  As a result, any changes that need to be made to the calendar event, such as a duty change,
                  must be made through <a target="_blank" href="https://calendar.google.com/">Google Calendar</a>.
              </div>
          </div>
          <div class="modalError">Failed to Export Schedule: <span class="msg"></span></div>
     </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="exportBut" type="button" class="btn btn-primary" onclick="exportSchedule()">Export</button>
      </div>
    </div>
  </div>
</div>

<!-- Scheduler Queue Modal -->
<div class="modal fade" id="schedQueueModal" tabindex="-1" role="dialog" aria-labelledby="addDutyModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Scheduler Request <span id="schedReqID"></span></h3>
      </div>
      <div class="modal-body">
          <div class="form-group form-row">
              <div class="col-md-8">
                  <label for="schedQueueDate">Request Date:</label>
                  <input class="form-control" type="datetime-local" id="schedQueueDate" disabled >
              </div>
              <div class="col-md-4">
                  <label for="schedQueueStatus">Status:</label>
                  <div id="statusContainer">
                      <span id="schedQueueStatus" class="badge badge-warning">Unknown</span>
                  </div>
              </div>
          </div>
          <div class="form-group form-row">
              <div class="col">
                  <label for="schedQueueRequestingUser">Requested By:</label>
                  <input class="form-control" type="text" id="schedQueueRequestingUser" disabled >
              </div>
          </div>
          <div class="form-group form-row">
              <div class="col">
                  <label for="schedQueueReason">Additional Information</label>
                  <textarea class="form-control" id="schedQueueReason" rows="3" disabled style="max-height:100px"></textarea>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="calContainer" class="col-lg-9">
    <div id="calendar">

    </div>
</div>
<div id="raListContainer" class="col-lg-3">
    <div id="raList" class="raList">
        <ul>
            <li class="list_header">
                <div id="list_name_header" class="tName">Name</div>
                <div id="list_points_header" class="tPoints"># Points</div>
            </li>
            {% for idKey, idVal in ptDict: %}
            <li id="list_{{ idKey }}" class="hoverItem">
                <div id="list_name_{{ idKey }}" class="tName">{{ idVal["name"] }}</div>
                <div id="list_points_{{ idKey }}" class="tPoints">{{ idVal["pts"]["dutyPts"] }}</div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div id="queueList" class="raList">
        <ul id="queueListUL">
            <li class="list_header">
                <div id="list_request_header" class="tName">Schedule Requests</div>
                <div id="list_status_header" class="tPoints">Status</div>
            </li>
            {% for rowID, rowStatus, rowDate in schedQueueList: %}
            <li id="schedReqList_{{ rowID }}" onclick="getSchedulerQueueEntry({{ rowID }})" class="clickable hoverItem">
                <div id="list_request_{{ rowID }}" class="tName">{{ rowDate.strftime("%m/%d/%y") }}</div>
                <div id="list_status_{{ rowID }}" class="tPoints">
                    {% if rowStatus == 1 or rowStatus == -1: %}
                    <span id="list_status_span_{{ rowID }}" class="badge badge-success">Success</span>
                    {% elif rowStatus == 0: %}
                    <span id="list_status_span_{{ rowID }}" class="badge badge-secondary">In Progress</span>
                    {% elif rowStatus <= -2: %}
                    <span id="list_status_span_{{ rowID }}" class="badge badge-danger">Failed</span>
                    {% else %}
                    <span id="list_status_span_{{ rowID }}" class="badge badge-warning">Unknown</span>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{%- block setBlueprintAPIPrefix %}
var bpAPIPrefix = '/schedule';
{%- endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('static', filename='main.js')}}"></script>
<script src="{{url_for('static', filename='locales-all.js')}}"></script>
<script src="{{url_for('static', filename='fullCal.js')}}"></script>
<script src="{{url_for('schedule_bp.static', filename='editSched.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
<script>
    {% if opts["gCalConnected"] %}
    schedButtons.exportScheduleButton = {
        text: 'Export',
        click: showExportModal
    }
    calToolbar.right = "exportScheduleButton " + calToolbar.right
    {% endif %}

    initEditSchedCal();
    $(function () {
        $('#runRAList').selectpicker();
    });
    $('#runRAList').selectpicker('selectAll');

    $(function() {
        $('#datepicker').datepicker({
            multidate: true,
            format: "d",
            datesDisabled: [],
            language: 'en',
            multidateSeparator: ", ",
            assumeNearbyYear: true,
            clearBtn: true,
            disableTouchKeyboard: false,
            startDate: '1',     // First day of the month
            endDate: new Date(appConfig.calDate.getFullYear(), appConfig.calDate.getMonth()+1, 0), // Last day of the month
        }).on('changeDate', function(e) {
            // `e` here contains the extra attributes
            $(this).find('.input-group-addon .count').text(' ' + e.dates.length);
    });
});

</script>
{% endblock %}
